@body-background: #191919;
@body-font: Arial, Helvetica, sans-serif;
@displayNumbers-pad: #94FFDB;
@displayNumbers-border: 1px Solid grey;
@currentGrid-background: #FFA366;
@emptyCell-background: 	#757575;
